*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}
h1, h2, h3{
    color: orange;
    font-weight: 800;
}
h2{
    margin-bottom: 20px;
}
h3{
    font-size: 17px;
}

.bar-top{
    height: 50px;
    background: orangered;
    text-align: center;
    padding: 10px 0;
}

.bar-top h1{
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    color: #ffffff;
}

.img{
    
    height: 300px;
    background-image: url("img/sobremesa.jpg") ;
    background-size:cover;
    background-position: center;

}

.receita{
    margin: 0 auto;
}

.receita ul, ol{
    font-size: 16px;
    font-weight: 100;
    margin: 0px 0;
}
.cartao{
    padding: 40px ;
    margin-top: 30px;
    border-radius: 20px;
}
.cartao:hover{
    box-shadow: 8px 8px 15px 12px rgb(184, 183, 183);
}


.buttom{
    width: 200px;
    height: 30px;
    background-color: orangered;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    cursor: pointer;   
    margin-top: 25px;
}
.buttom:hover{
    box-shadow: 3px 3px 6px 4px rgb(207, 207, 207);
}
.buttom h3:hover{
    color:#ffffff;
}

